
/*.h3*/
/*{*/
/*    -fx-font-size: 22px;*/
/*}*/



.label
{
    -fx-font-size: 14px;
}


.large-text
{
    -fx-font-size: 18px;
}

.text-field
{
    /*-fx-text-alignment: left ;*/
}

.error
{
    -fx-text-fill: red;
    -fx-font-size: 12px;
    -fx-start-margin: 10px;
}

.hdsentinel-background
{
    -fx-background-color: #befdbe;
}

.hdsentinel-text
{
    -fx-font-size: 16px;
}

.value-label
{
    -fx-font-weight: bold;


}

.text-area .content { -fx-cursor: default ; }


.memory-label
{
    -fx-font-style: bold;

}